$backgroundColor: #ffffff;
$textColor: #555671;
$titleColor: #181a3f;
$linesColor: #dad9d6;

$fontMontserrat: 'Montserrat', sans-serif;
$fontInter: 'Inter', sans-serif;

$fontSizeH1: 40px;
$fontSizeH2: 32px;
$fontSizeH3: 24px;
$fontSizeButton: 20px;
$fontSizeText: 18px;
$fontSizeSmall: 12px;

$fontWeightRegular: 400;
$fontWeightBold: 700;

$paddingPage: 10px 15px;

$transition: all 0.2s ease-out;
$hoverOpacity: 0.7;
